<!-- Style from footer.css
<link rel="stylesheet" href="/styles/footer.css" type="text/css" />

<footer class="footer">
  <div id="footer">
    <i>© 2022 | <strong>Cake It Up</strong> by Ann-Dan-Rico at LHL</i>
    <link rel="icon" type="image/x-icon" href="images/cake-logo.png" />
  </div>
</footer> -->
