<!-- Style from header.css -->
<link rel="stylesheet" href="/styles/header.css" type="text/css" />

<header class="header">
  <div class="logoContent">
    <a href="/" class="logo"><img src="images/cake-logo.png" alt="" /></a>
  </div>

  <nav class="navbar">
    <a href="/my-fav">My Favorite</a>
    <a href="/about">About Us</a>
  </nav>
</header>
