<!-- Style from header.css -->
<link rel="stylesheet" href="/styles/header.css" type="text/css" />

<header class="header">
  <div class="logoContent">
    <a href="/" class="logo"><img src="images/cake-logo.png" alt="" /></a>
  </div>

  <nav class="navbar">
    <!----- DEFAULT W/O USER ----->
    <% if (!userID){%>

    <a href="#log-in">Sign In</a>
    <a href="#sign-up">Sign Up</a>

    <!----- SELLER/ADMIN LOGGED_IN ----->
    <%} if (userID < 10) { %>

    <a href="/mycakes">My Cakes</a>
    <a href="/form">Sell A Cake</a>
    <a href="/">Sign Out</a>
    <i class="fa-solid fa-lock"></i>

    <!----- BUYER/USER LOGGED_IN ----->
    <%} if (userID > 10) { %>

    <a href="/cakes">All Cakes</a>
    <a href="/cakes/favs">My Favorites</a>
    <a href="/">Sign Out</a>
    <i class="fa-solid fa-user"></i>

    <% } %>
  </nav>
</header>
