<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0, maximum-scale=1.0"
  />


     <!-- Font Awesome Library -->
     <link
     rel="stylesheet"
     href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
     integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
     crossorigin="anonymous"
     referrerpolicy="no-referrer"
   />

    <!-- External CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
      type="text/css"
    />
    <!-- External Font from GOOGLE FONT-->
     <!--
      font-family: 'Pacifico', cursive;
      font-family: 'Quicksand', sans-serif; -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Quicksand:wght@400;500;600;700&display=swap" rel="stylesheet">


    <!-- App CSS -->

    <!-- Style from header.css -->
    <link rel="stylesheet" href="/styles/header.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
     <!-- Style from buyer-main-page -->
     <link rel="stylesheet" href="/styles/buyer-main-page.css" type="text/css" />
    <!-- Style from footer.css -->
    <link rel="stylesheet" href="/styles/footer.css" type="text/css" />

    <!-- External JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


    <!-- Title and Favicon -->
    <title>Cake It Up</title>
    <link rel="icon" type="image/x-icon" href="images/favicon.png">


    <!-- insert header from _header -->
    <%- include('partials/_header') %>

    <body>
<!-- product section start here  -->
    <section class="cakes-container">
      <div class="heading">
          <h1>Check Out All Cakes</h1>
      </div>

<!-- Each Cake Display -->
      <div class="display-wrap">
<div class="cake-display">
      <div class="fav-icon">
        <i class="fa-solid fa-heart"></i>
      </div>
      <div class="cake-photo">
        <img class="cake-photo" src="https://previews.123rf.com/images/dolphytv/dolphytv1711/dolphytv171100001/90955371-sliced-no-bake-strawberry-cheesecake-decorated-with-fresh-berries-and-mint-square.jpg" alt="">
      </div>
      <div class="cake-info">
        <p> <h3>Strawberry Cheesecake</h3> </p>
        <p> <h5>Cheesecake as a flavor tastes tart, sweet, creamy, and tangy! A popular flavor is also strawberry cheesecake, which seems to be quite a common yogurt and ice cream flavor.</h5> </p>
        <p class="price" >$90</p>

      </div>
      <div class="status-contact">
        <p class="cake-status">cake_status</p>
        <form class="contact-seller" action="mailto: an@bui.com" methjod="POST>
          <label> Contact Seller </label>
          <input type ="submit" />
        <button class="contact-seller-btn"> Contact Seller</button>
      </div>
    </div>

<!-- Each Cake Display -->
<div class="cake-display">
  <div class="fav-icon">
    <i class="fa-solid fa-heart"></i>
  </div>
  <div class="cake-photo">
    <img class="cake-photo" src='https://assets.bonappetit.com/photos/5b9965be60d00151f019a31a/1:1/w_2560%2Cc_limit/tiramisu-layer-cake-with-mascarpone-mousse-slice.jpg' alt="">
  </div>
  <div class="cake-info">
    <p> <h3>Tiramisu Layer</h3> </p>
    <p> <h5>Tiramisu is an elegant and rich layered Italian dessert made with delicate ladyfinger cookies, espresso or instant espresso, Marsala wine, rum and cocoa powder.</h5> </p>
    <p class="price">$200</p>

  </div>
  <div class="status-contact">
    <p class="cake-status">cake_status</p>
    <form class="contact-seller" action="mailto: an@bui.com" methjod="POST>
      <label> Contact Seller </label>
      <input type ="submit" />
    <button class="contact-seller-btn"> Contact Seller</button>
  </div>
</div>


<!-- Each Cake Display -->
<div class="cake-display">
  <div class="fav-icon">
    <i class="fa-solid fa-heart"></i>
  </div>
  <div class="cake-photo">
    <img class="cake-photo" src='https://www.littlesweetbaker.com/wp-content/uploads/2017/11/german-chocolate-cake-1-1.jpg' alt="">
  </div>
  <div class="cake-info">
    <p> <h3>Dripped Coco Cake</h3> </p>
    <p> <h5>Fresh dripping chocolate cake adding fruits on top for the contract note. Chocolate cake tastes rich in flavor. Chocolate cake has a chocolatey hint of flavor from cocoa chocolate powder.</h5> </p>
    <p class="price">$120</p>

  </div>
  <div class="status-contact">
    <p class="cake-status">cake_status</p>
    <form class="contact-seller" action="mailto: dan@l.com" methjod="POST>
      <label> Contact Seller </label>
      <input type ="submit" />
    <button class="contact-seller-btn"> Contact Seller</button>
  </div>
</div>
</div>




  </section>
  <!-- product section end here  -->
  </body>
  <!-- insert header from _footer -->
  <%- include('partials/_footer') %>
</html>

